{
  "openapi": "3.0.0",
  "info": {
    "title": "OutageHub API",
    "version": "1.0.0",
    "description": "API for retrieving power outage information."
  },
  "servers": [
    {
      "url": "https://api.canadianpoweroutages.ca/v1",
      "description": "API Version 1"
    }
  ],
  "components": {
    "schemas": {
      "Outage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "Unique identifier for the outage."
          },
          "provider": {
            "type": "string",
            "description": "The provider reporting the outage."
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "Latitude of the outage location."
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "Longitude of the outage location."
          },
          "polygon": {
            "type": "string",
            "nullable": true,
            "description": "Optional polygon representing the outage area (e.g., WKT format)."
          },
          "startTs": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp when the outage started."
          },
          "endTs": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "Unix timestamp when the outage ended (if known)."
          },
          "ts": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp when the outage record was created or last updated."
          }
        },
        "required": [
          "id",
          "provider",
          "latitude",
          "longitude",
          "startTs",
          "ts"
        ]
      },
      "OutageResponse": {
        "type": "object",
        "properties": {
          "outages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Outage"
            }
          }
        },
        "required": [
          "outages"
        ]
      },
      "OutageByIdResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "The requested outage ID."
          },
          "outage": {
            "$ref": "#/components/schemas/Outage"
          }
        },
        "required": [
          "id",
          "outage"
        ]
      },
      "ErrorMessage": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "nullable": true
          },
          "error_description": {
            "type": "string",
            "nullable": true
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "message"
        ]
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "API key provided in the X-API-KEY header"
      }
    }
  },
  "paths": {
    "/outages": {
      "get": {
        "summary": "Get current outages",
        "description": "Retrieves a list of currently active outages based on the current timestamp.",
        "tags": [
          "Outages"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of current outages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Failed to retrieve outage data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/outages/{id}": {
      "get": {
        "summary": "Get outage by ID",
        "description": "Retrieves details for a specific outage by its unique ID.",
        "tags": [
          "Outages"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the outage to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the specified outage.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutageByIdResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Failed to retrieve outage data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    }
  }
}
